
<h1 class='text-center mt-2'><%= code %></h1>
<div class="d-flex justify-content-center align-items-center">


<div class="container  mt-2 p-4" style="background-color:#ffab01; border-radius: 15px;">
    <form action="/admin/cadastroafiliado" method="post">



        <div class="form-group mt-2">
            <label for="nome_loja">Nome da loja</label>
            <input type="text" class="form-control" id="nome_loja" name="nome_loja" placeholder="Nome da loja">
        </div>



        <div class="form-group mt-2">
            <label for="nome_proprietario">Nome do proprietario</label>
            <input type="text" class="form-control" id="nome_proprietario" name="nome_proprietario" placeholder="Nome do proprietario">
        </div>



        <div class="form-group mt-2">
            <label for="palavra_passe">Palavra passe</label>
            <input type="text" class="form-control" id="palavra_passe" name="palavra_passe" placeholder="Palavra passe">
        </div>



        <div class="form-group mt-2">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
        </div>


        <div class="form-group mt-2">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Palavra passe">
        </div>

        <div class="form-group mt-2">
            <label for="regiao">Região</label>
            <select class="form-control" name="regiao" id="regiao">
                <% for (let i = 0; i < regioes.length; i++) { %>
                  <option value="<%= regioes[i] %>"><%= regioes[i] %></option>
                <% } %>
            </select>


        </div>


        <div class='form-group mt-2'>
        <label for='codigo'>Código</label>    
        <input name='codigo' id='codigo' type="text" value="<%= code %>">
        </div>
        

        <div class="form-group mt-2">
            <label for="cpf_cnpj">CNPJ/CPF</label>
            <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj" placeholder="CNPJ">
        </div>

    <div class="form-group mt-2">
            <label for="assistencia" class='form-check-label' >Oferecer assistencia tecnica ?</label>
            <input type="checkbox" class="form-check-input" id="assistencia" name="assistencia" >
    </div>

       <center><button type="submit" class="btn btn-success mt-5">CADASTRAR</button></center> 
        
    </form>

</div>

</div>
<script>

    err = '<%= err %>'
    if(err != ''){
        alert(err)
        window.location.href = '/admin/cadastroafiliado'
    }
    

</script>