
<h1 class='text-center mt-2'>Administrador: <%= locals.administrador%></h1>
<div class="d-flex justify-content-center align-items-center">


<div class="container  mt-2 p-4" style="background-color: #6676e0; border-radius: 15px;">
    <form action="/admin/editarafiliado/<%= afiliado.codigo %>" id="form" method="post">



        <div class="form-group mt-2">
            <label for="nome_loja">Nome da loja</label>
            <input type="text" class="form-control" id="nome_loja" name="nome_loja" value="<%= afiliado.nome_loja %>" placeholder="Nome da loja">
        </div>



        <div class="form-group mt-2">
            <label for="nome_proprietario">Nome do proprietario</label>
            <input type="text" class="form-control" id="nome_proprietario" value="<%= afiliado.nome_proprietario %>" name="nome_proprietario" placeholder="Nome do proprietario">
        </div>



        <div class="form-group mt-2">
            <label for="palavra_passe">Palavra passe</label>
            <input type="text" class="form-control" id="palavra_passe" value='<%= afiliado.palavra_passe %>' name="palavra_passe" placeholder="Palavra passe">
        </div>



        <div class="form-group mt-2">
            <label for="telefone">Telefone(ddd)</label>
            <input type="text" class="form-control" id="telefone" value="<%= afiliado.telefone %>" name="telefone" placeholder="Telefone">
        </div>


        <div class="form-group mt-2">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" value="<%=  afiliado.email  %>" name="email" placeholder="Palavra passe">
        </div>

        <div class="form-group mt-2">
            <label for="regiao">Região</label>
            <select class="form-control" name="regiao" id="regiao">


                <% for (let i = 0; i < regioes.length; i++) { %>

                <% if(regioes[i] == afiliado.regiao) { %>
                <option selected='selected' value="<%= regioes[i] %>"><%= regioes[i] %></option>
                <% } else { %>

                    <option value="<%= regioes[i] %>"><%= regioes[i] %></option>

                <% } %>

                <% } %>
            </select>


        </div>


        
        <div class="form-group mt-2">
            <label for="cpf_cnpj">CNPJ/CPF</label>
            <input type="text" value="<%= afiliado.cpf_cnpj %>" class="form-control" id="cpf_cnpj" name="cpf_cnpj" placeholder="CNPJ">
        </div>

        <div class="form-group mt-2">
            <label for="assistencia">Oferecer assistencia tecnica ?</label>
            <select class="form-control" name="assistencia" id="assistencia">
                    
                    <% if(afiliado.assistencia == 'sim') { %>
                <option selected='selected' value="sim">Sim</option>
                <option value="nao">Não</option>
                <% }else { %>
                    <option value='sim'>Sim</option>
                    <option value="nao" selected='selected'>Não</option>
                <% } %>
            </select>


        </div>


       <center><button type="submit" class="btn btn-success mt-5">SALVAR</button></center> 
        
    </form>

</div>

</div>
<script>

    


    $('#form').submit(function(e){
    
    var erro = false
    var form = $(this);
    obrigatorio = ['nome_loja', 'nome_proprietario', 'palavra_passe', 'telefone', 'email', 'cpf_cnpj', 'assistencia'];
    for (let i = 0; i < obrigatorio.length; i++) {
        if ($('#'+obrigatorio[i]).val() == '') {
            erro = true
            alert('Preencha todos os campos');
            return;
        }
    }




    if(erro == true){
        e.preventDefault();
        
    }else{
        form.submit();
    }

});




    

</script>