<div class="d-flex flex-column justify-content-center align-items-center">
    
    <div class="container">
        <div class="store-info">
            <h1> Código:<%= afiliado.codigo %></h1>
          <div class="store-info__item">
            <span class="store-info__label">Nome da loja:</span>
            <span class="store-info__value"><%= afiliado.nome_loja %></span>
          </div>
          <div class="store-info__item">
            <span class="store-info__label">Nome do proprietário:</span>
            <span class="store-info__value">   <%= afiliado.nome_proprietario %>        </span>
          </div>
          <div class="store-info__item">
            <span class="store-info__label">Telefone:</span>
            <span class="store-info__value"><%= afiliado.telefone %></span>
          </div>
          <div class="store-info__item">
            <span class="store-info__label">CPF/CNPJ:</span>
            <span class="store-info__value"><%= afiliado.cpf_cnpj %></span>
          </div>
          
          <div class="store-info__item">
            <span class="store-info__label">Região:</span>
            <span class="store-info__value"><%= afiliado.regiao %></span>
          </div>
          
          <div class="store-info__item">
            <span class="store-info__label">Assistência:</span>
            <span class="store-info__value"><%= afiliado.assistencia %></span>
          </div>
          <% if (locals.administrador) { %>
          <form action="/admin/editarafiliado/<%= afiliado.codigo %>" method="get">
            <button class="btn btn-primary mt-2" type="submit">Editar</button>
          </form>

      
              <button class="btn btn-danger mt-2" onclick="apagar()">Apagar</button>


          <% } else { %>
            <h5 style="color: red;">Para alterações de dados entre em contato</h4>
          <% } %>
          
        </div>
    
        
      </div>

</div>


  <style>
    .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.store-info {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.store-info__item {
  margin-bottom: 10px;
}

.store-info__label {
  font-weight: bold;
}


  </style>
  <script>

    function apagar(){
      code = '<%= afiliado.codigo %>'
      if (confirm("Esta ação removera a loja <%= afiliado.nome_loja %> para sempre. aperte 'ok' para confirmar")) {
      window.location.href = '/admin/apagarafiliado/<%= afiliado.codigo %>'
} else {
  alert('Operação cancelada')
}
    }
  </script>