
<a href='/admin/painel'><h1 class='text-center mt-2 text-white'>Administrador: <%= locals.administrador%></h1></a>

<div class="d-flex justify-content-center align-items-center">


<div class="container  mt-2 p-4" style="background-color:#ffab01; border-radius: 6px; max-width: 700px;">
    <form action="/admin/cadastroafiliado" id="form" method="post">



        <div class="form-group mt-2">
            <label for="nome_loja">Nome da loja</label>
            <input required type="text" class="form-control" id="nome_loja" name="nome_loja" placeholder="Nome da loja">
        </div>



        <div class="form-group mt-2">
            <label for="nome_proprietario">Nome do proprietario</label>
            <input required type="text" class="form-control" id="nome_proprietario" name="nome_proprietario" placeholder="Nome do proprietario">
        </div>



        <div class="form-group mt-2">
            <label for="palavra_passe">Palavra passe</label>
            <input required type="text" class="form-control" id="palavra_passe" name="palavra_passe" placeholder="Palavra passe">
        </div>



        <div class="form-group mt-2">
            <label for="telefone">Telefone(ddd)</label>
            <input required type="number" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
        </div>


        <div class="form-group mt-2">
            <label for="email">email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Palavra passe">
        </div>

        <div class="form-group mt-2">
            <label for="regiao">Região</label>
            <select class="form-control" name="regiao" id="regiao">
                <% for (let i = 0; i < regioes.length; i++) { %>
                  <option value="<%= regioes[i] %>"><%= regioes[i] %></option>
                <% } %>
            </select>


        </div>


        <div class='form-group mt-2'>
        <label for='codigo'>Código</label>    
        <input name='codigo' id='codigo' type="number" value="<%= code %>">
        </div>
        

        <div class="form-group mt-2">
            <label for="cpf_cnpj">CNPJ/CPF</label>
            <input type="number" class="form-control" id="cpf_cnpj" name="cpf_cnpj" placeholder="CNPJ" required>
        </div>

        <div class="form-group mt-2">
            <label for="assistencia">Oferecer assistencia tecnica ?</label>
            <select class="form-control" name="assistencia" id="assistencia">
                    
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>


        </div>


       <center><button type="submit" id="enviar" class="btn btn-success mt-5">CADASTRAR</button></center> 
        
    </form>

</div>

</div>
<script>

    err = '<%= err %>'
    if(err != ''){
    
        alert(err)
        window.location.href = '/admin/cadastroafiliado'
    
    }


    $("#form").submit(function(){
        $('#enviar').prop('disabled',true)
    })

      $('#codigo').blur(function(){
        var codigo = $(this).val()
        $.ajax({
            url: '/admin/codigoexistente',
            type: 'post',
            data: {codigo: codigo},
            success: function(data){
                if(data == true){

                    alert('Código já existe')

                    $('#codigo').val('')
                }
            }
      })  

    })
    

</script>