<% if (typeof locals.administrador != 'undefined'){ %>
  <a href='/admin/painel'><h1 class='text-center mt-2 text-white'>Administrador: <%= locals.administrador%></h1></a>

  <% } %>
<div class="d-flex flex-column justify-content-center align-items-center">

  <div class="container container-plus">





    <div class="store-info mb-4">
      <h1> Código:<%= afiliado.codigo %></h1>
    <div class="store-info__item">
      <span class="store-info__label">Nome da loja:</span>
      <span class="store-info__value"><%= afiliado.nome_loja %></span>
    </div>
    <div class="store-info__item">
      <span class="store-info__label">Nome do proprietário:</span>
      <span class="store-info__value">   <%= afiliado.nome_proprietario %>        </span>
    </div>
    <div class="store-info__item">
      <span class="store-info__label">Telefone:</span>
      <span class="store-info__value"><%= afiliado.telefone %></span>
    </div>
    <div class="store-info__item">
      <span class="store-info__label">CPF/CNPJ:</span>
      <span class="store-info__value"><%= afiliado.cpf_cnpj %></span>
    </div>
    
    <div class="store-info__item">
      <span class="store-info__label">Região:</span>
      <span class="store-info__value"><%= afiliado.regiao %></span>
    </div>
    
    <div class="store-info__item">
      <span class="store-info__label">Assistência:</span>
      <span class="store-info__value"><%= afiliado.assistencia %></span>
    </div>

    <% if (locals.administrador) { %>
    <form action="/admin/editarafiliado/<%= afiliado.codigo %>" method="get">
      <button class="btn btn-primary mt-2" type="submit">Editar</button>
    </form>


        <button class="btn btn-danger mt-2" onclick="apagar()">Apagar</button>


    <% } else { %>
      <h5 style="color: orange;">Para alterações de dados entre em contato</h5>
      
    <hr style="width:100%;text-align:left; margin-top:1em; color: white;">
      <a href='/logout'><h5 class='text-center mt-1 text-danger'>Logout<%= locals.administrador%></h5></a>
    <% } %>

  




</div>






<!-- 
Fim container -->
  </div>


  <div class="container alerta-box" style="  display: flex; justify-content: center; align-items: center;">
    <div class="row">
      <div class="col-12">
        <h5 style="color: red;font-weight: bold;">Novidade da semana</h5>
        <% if(aviso != '') { %>
        <span><%= aviso %></span>
        <% } else { %>
        <span >Nada por aqui.</span>
        <% } %>

      </div>
    </div>


    </div>

    <hr style="width:100%;text-align:left; margin-top:1em; color: white;">
    


<% if (typeof locals.administrador != 'undefined'){ %>
    <!-- botao incluir -->   
 <div class="container " style=" margin-top: 0em; display: flex; justify-content: center; align-items: center;">

 <div class="row">
  <a href="/admin/incluirproduto/<%= afiliado.codigo%>"><button class="btn btn-success mb-3">Incluir Produto</button></a>
 </div>

 </div>

<!-- botao incluir fim -->
<% } %>
<span class="text-white " style="  font-weight: bold; "> Produtos </span>
<!-- produtos -->
<% if(produtos.length == 0){%>
<div class="container mb-1 mt-3" style="  display: flex; justify-content: center; align-items: center;">
  <div class="produto-info">
    <h5 style="  font-weight: bold; " class="mb-1">Nada por aqui</h5>
  </div>
<% } %>



<% for(var produto in produtos) {%>
<div class="container mb-1 mt-3" style="  display: flex; justify-content: center; align-items: center;">
  <div class="produto-info">

    <% if (typeof locals.administrador != 'undefined') { %>
    <a href="/admin/editarproduto/<%= produtos[produto]._id %>" class="text-white"><h5 style="  font-weight: bold; " class="mb-1"><%= produtos[produto].nome %></h5></a>
    <% } else { %>
    <h5 style="  font-weight: bold; " class="mb-1"><%= produtos[produto].nome %></h5>
    <% } %>
   <span >Valor: <span class="valor"><%= produtos[produto].valor %></span>  </span> <br>
   <hr style="width:100%;text-align:left; margin-top:1em; color: white;">
   <span >  Estoque  </span>
   <div class="row mt-3">

     <div class="col-4">
       <span>Vendidos </br> <%= produtos[produto].vendidos %></span>
     </div>
     <div class="col-4">
       <span style="  font-weight: bold;">Total </br> <%= produtos[produto].estoque %></span>
     </div>

     <div class="col-4">
       <span >Devoluções </br> <%= produtos[produto].devolucoes %></span>
     </div>


   </div>

   <div class="row p-3">

       <button onclick="informavenda('<%= produtos[produto]._id %>')" style="  font-weight: bold;" class="btn btn-success ">Informar venda</button>

   </div>
   <div class="row p-3">
     <button onclick="informadevolucao('<%= produtos[produto]._id %>')" style="  font-weight: bold;" class="btn btn-info">Informar devolução</button>
 </div>

  </div>
</div>

<% } %>




</div>














  <style>
    .container-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  
  max-height: 30vh;
}





 /* Celular  horizontal */
@media only screen and (700px <= width <= 901px) {
    .alerta-box{
    margin-top: 15em;
  }
  .store-info{
    margin-top: 10em;
  }
}

  /* Celular */
  @media only screen and (max-width: 700px) {
    .alerta-box{
    margin-top: 5.5em;
  }
}
/* 
  pc */
@media only screen and (min-width: 901px) { 
  .store-info{
    max-width: 45%;
  }
  .store-info{
    margin-top: 4em;
  }
  .alerta-box{
    margin-top: 8em;
    min-width: 30%;
  }

 }


 .produto-info{
  border: 2px solid  wheat;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: white;
 }

 .alerta-box{
  border: 2px solid  red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 320px;
  width: 100%;

  color: white;
 }


.store-info {
  border: 2px solid  white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  min-height: 20.2rem;
  color: white;
}

.store-info__item {
  margin-bottom: 8px;
  color: white;
}

.store-info__label {
  font-weight: bold;
  color: white;
}


  </style>


  <script>

msg = '<%= msg %>'
    if(msg != ''){
    
        alert(msg)
        window.location.href = '/dadosafiliado/<%= afiliado.codigo %>'
    
    }




$('.valor').each(function() {
  var valor = parseFloat($(this).text());
  var valorFormatado = valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
  $(this).text(valorFormatado);
});




    function apagar(){
      code = '<%= afiliado.codigo %>'
      if (confirm("Esta ação removera a loja <%= afiliado.nome_loja %> para sempre. aperte 'ok' para confirmar")) {
      window.location.href = '/admin/apagarafiliado/<%= afiliado.codigo %>'
} else {
  alert('Operação cancelada')
}
    }



    
    function informavenda(id){
      err = false;
      let quantidade = prompt("Insira a quantidade de produtos vendidos", "0");
      try {
        if (!/^\d+$/.test(quantidade)) { // Verifica se a entrada contém apenas dígitos
          err = true;
          throw new Error('Insira um valor numérico válido');
          
        }
        if(quantidade <= 0){
          err = true;
          throw new Error('Insira um valor numérico válido');
        }
        quantidade = parseInt(quantidade);
      } catch (error) {
        alert(error.message);
      }

      if (!isNaN(quantidade) && err == false) { // Verifica se o valor é um número válido
        window.location.href = `/informavenda/${id}/${quantidade}`;
      }
    }



    function informadevolucao(id){
      err = false;
      let quantidade = prompt("Insira a quantidade de produtos devolvidos", "0");
      try {
        if (!/^\d+$/.test(quantidade)) { // Verifica se a entrada contém apenas dígitos
          err = true;
          throw new Error('Insira um valor numérico válido');
          
        }
        if(quantidade <= 0){
          err = true;
          throw new Error('Insira um valor numérico válido');
        }
        quantidade = parseInt(quantidade);
      } catch (error) {
        alert(error.message);
      }

      if (!isNaN(quantidade) && err == false) { // Verifica se o valor é um número válido
        window.location.href = `/informadevolucao/${id}/${quantidade}`;
      }
    }



  </script>